{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>
                {% block page_title %}{{ title }}{% endblock %}
        </title>
        <link rel="icon" type="image/png" sizes="16x16" href={% static  "./images/favicon.png" %}>
        <link href={% static "/plugins/pg-calendar/css/pignose.calendar.min.css"%} rel="stylesheet">
        <link rel="stylesheet" href={% static "./plugins/chartist/css/chartist.min.css" %} >
        <link rel="stylesheet" href={% static "./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css" %}>
        <link href={% static "css/style.css"%} rel="stylesheet">
</head>

<!--*******************
        Preloader start
    ********************-->
        <div id="preloader">
        <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
        </div>
        </div>
    <!--*******************
        Preloader end
    ********************-->

    <body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src={% static  "./images/logo.png" %} alt=""> </b>
                    <span class="logo-compact"><img src={% static  "./images/logo-compact.png" %} alt=""></span>
                    <span class="brand-title">
                        <img src={% static  "./images/logo-text.png" %} alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

